<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <!-- cfg Target class -->
  <bean  id="approver" class="com.nt.service.LoanApprover">
    <constructor-arg value="raja"/>
  </bean>
  <!-- Cfg Advice class -->
  <bean id="auditAdvice" class="com.nt.advice.AuditingAdvice"/>
  
  <!-- Cfg ProxyFactoryBean -->
  <bean id="pfb" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="target" ref="approver"/>
    <property name="interceptorNames">
      <array>
         <value>auditAdvice</value>
      </array>
    </property>
  
  </bean>
  
</beans>
