<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
   <!-- Cfg Taget class -->
   <bean id="bankService" class="com.nt.service.BankService"/>
   <!-- cfg Aspect classes -->
   <bean id="pmAspect"  class="com.nt.aspect.PerformenceMonitoringAspect"/>
   <bean id="cacheAspect" class="com.nt.aspect.CacheAspect"/>
   <bean id="logAspect" class="com.nt.aspect.LogAroundAspect"/>
   <!-- Aspectj AOP configurations -->
   <aop:config>
     <aop:pointcut expression="execution(* com.nt.service.BankService.calcComp*(..))" id="ptc"/>
     <aop:pointcut expression="execution(* com.nt.service.BankService.*(..))" id="ptc1"/>
     
     <aop:aspect ref="pmAspect" order="11">
       <aop:around method="monitor" pointcut-ref="ptc"/>
     </aop:aspect>
     
      <aop:aspect ref="cacheAspect" order="10">
       <aop:around method="caching" pointcut-ref="ptc"/>
     </aop:aspect>
     <aop:aspect ref="logAspect">
        <aop:around method="log" pointcut-ref="ptc1"/>
     </aop:aspect>
   
   </aop:config>
   
</beans>
