<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
  <!-- Taget Bean class cfg -->
  <bean id="priceCalculator" class="com.nt.service.PriceCalculator"/>
  <!-- Advice class Cfg -->
  <bean id="expLoggerAspect" class="com.nt.aspect.CommonExceptionLogger"/>
  <aop:config>
    <aop:pointcut expression="execution(* com.nt.service.*.*(..))" id="ptc"/>
    <aop:aspect ref="expLoggerAspect">
      <aop:after-throwing method="exceptionLogging" pointcut-ref="ptc" throwing="ex"/>
    </aop:aspect>
  </aop:config>

</beans>
