<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

  <!-- <bean id="iac" class="com.nt.beans.IntrAmountCalculator">
    <constructor-arg value="10000,12,2"/>
  </bean> -->

   <!-- CustomEditorConfigurer -->
	<bean id="cec"	class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="com.nt.beans.AmountDetails" value="com.nt.editors.AmountDetailsEditor"/>
			</map>
		</property>
	</bean>
 <context:component-scan base-package="com.nt.beans,com.nt.editors"/>

</beans>
